{% macro search_url(topic_type, topic_name) -%}
  https://github.com/GregRos?tab=repositories&q=topic%3Apackage{% if topic_type == 'category' and topic_name == 'incomplete' %}+topic%3Aincomplete{%- elif topic_type == 'category' %}+topic%3A{{ topic_name }}{%- elif topic_type == 'type' %}+topic%3A{{ topic_name }}{%- elif topic_type == 'lang' %}&language={{ topic_name | urlencode }}{%- elif topic_type == 'tech' or topic_type == 'domain' %}+topic%3A{{ topic_name }}{%- endif %}&type=&sort=
{%- endmacro %}
{% macro topic_links(topics) -%}
  {%- for stuff in exported[topics].values() -%}
    {{-topic_link(stuff)-}}
    {%- if not loop.last %}  ✦  {% endif %}
  {%- endfor %}
{%- endmacro %}

{% macro topic_link(t) -%}
  [{{ t.to_display() }}]({{ t.to_url() }})
{%- endmacro %}
# Hi! I’m Greg.

I build things, and I love having the perfect tools to build things with. So if I need a tool that doesn’t exist, I’ll just make it myself. This profile is a collection of these tools, assembled over 15 years or so. 

**[📦 Packages]({{ cat_package.to_url() }})**<br>
Tested, and documented; you can use these yourself.

**[🤗 Personal]({{ cat_personal.to_url() }})**<br>
Working but undocumented; mileage may vary.

**[🧩 Incomplete]({{ cat_incomplete.to_url() }})**<br>
Not quite there yet.

**[🗑️ Obsolete]({{ cat_obsolete.to_url() }})**<br>
No longer relevant.

**[🦠 Sample]({{ cat_sample.to_url() }})**<br>
It's just some code that runs.

**Type**<br>
{{ topic_links("type") }}

**Language**<br>
{{ topic_links("lang") }}

**Tech**<br>
{{ topic_links("tech") }}

**Domain**<br>
{{ topic_links("dom") }}

**Paradigm**<br>
{{ topic_links("para") }}


# Opinions!
Here are some random opinions about tech things I've used. Why is this here? Who knows.

## Languages
- **TypeScript:** My fondest love. This is the thing I’m best at right now.

- **JavaScript:** Terrible language; beautiful ecosystem.

- **Python:** Wonderful language with lots of use-cases.

- **C#:** `static public void main` right? Just too many words.

- **F#:** My first love; but shot itself in the foot from day 1.

- __F*__: Type theory porn; of the hardest and most beautiful kind.

- **Scala:** Even I think the type system has too much going on. Still love it tho.

- **Kotlin:** The thing I write in when I find myself needing to write Java.

- **Bash:** It’s bash. Love it or hate it, you cannot escape it.

- **Fish:** I hate shells, but this one seems to be an exception.

- **LaTeX:** It’s a terrible language that forever be the best at what it does.

- **SCSS:** So good CSS had to steal most of its features.

- **Go:** It used to not have generics so I stayed away. Now it has them, so yay! I’ll probably end up using it one day.

- **PowerShell:** Terrible as a shell, worse as a language. Just plain bad.

- **Rust:** Beautiful language; but hard to justify in most contexts.

- **Haskell:** Like the sun, too beautiful to gaze at directly; but a great source of inspiration.

- **AutoHotKey:** v1 is terrible; v2 is merely bad. Still, has its niche, which it fills perfectly.

- **C++:** Not bad at all. Might be too complicated. But sometimes exactly what you need.

- **C:** Another language that's beyond criticism. It does stuff nothing else can do.

- **R:** I don’t really get why you’d use it. I guess if you know it already?

- **WolframScript:** The swiss army knife of mathematics. Damn ugly though.

- **Ruby:** Just use Python.

- **Boo:** Never really took off. Was really cute though!

- **Lisp:** The best thing about F#? Sometimes, you can avoid using parens.

- **OpenCL:** Too good to be true; true anyway.

- **XAML:** Huge mess; also the best way to do traditional-esque Windows UI.
